@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin: 0;
  font-family: system-ui;
}

.image-first {
  color: #ffffff;
  height: 950px;
  width: 100%;
  background-image: url(https://i.pinimg.com/originals/3f/73/d5/3f73d57e3252bb60f1b622e7f6595a6e.jpg);
  background-attachment: fixed;
}

.head {
  width: 100%;
  height: 70px;
  display: flex;
  background: #ffffff00;
  position: fixed;
  transition: 0.5s;
}

.head-active {
  background-color: white;
  border-bottom: 1px solid #8f8f8f;
}

.head-elem {
  margin-left: 2%;
  margin-top: 25px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size .3s;
  height: 25px;
}

.white-text {
  color: #000000;
}

.head-elem:hover, .head-elem:focus{
  background-size: 100% 1px;
}

.head-rigth {
  margin-left: auto;
  margin-right: 5%;
  margin-top: 25px;
}

.head-rigth .head-elem {
  margin-right: 20%;
}

.head-elem-first {
  color: #ffffff;
  margin-left: 10%;
  margin-top: 5px;
  margin-right: 1%;
}

.image-description {
  text-align: center;
  font-size: 45px;
  padding-top: 500px;
  margin-block-start: 0em;
}

.text-description {
  margin-top: 30px;
  margin-bottom: 70px;
  margin-left: 7%;
  margin-right: 7%;
  text-align: center;
  font-size: 15px;
  color: #8f8f8f;
}

hr {
  color: #8f8f8f;
}

.featured-collection {
  height: 700px;
}

.image-second {
  color: #ffffff;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-image: url(https://whnt.com/wp-content/uploads/sites/20/2020/10/GettyImages-1211293811.jpg?w=1300&h=630&crop=1);
}

.image-second .image-description {
  padding-top: 300px;
}
.image-description-paragraph {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  margin-left: 10%;
  margin-right: 10%;
}
