<!DOCTYPE html>
<html>
  <head>
    <title>Myshopa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= yield %>
    <div id="app">

    </div>

    <script type="text/javascript" src="http://localhost:8131/main.js"></script>
  </body>
</html>
